:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  border-left: 5px solid lightgray;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
  max-width: 1000px;
  margin: auto;
  color: black;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

header, main, footer {
  padding: 1rem 2rem;
}

h1 {
  font-size: 3rem;
  font-weight: lighter;
  color: tomato;
}

img {
  width: 100%;
}

nav ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

nav ul a {
  color: lightgray;
}

footer nav ul a {
  color: red;
}

article h3 {
  font-size: 2rem;
  font-weight: lighter;
}

article p:first-letter {
  font-size: 5rem;
  color: lightgray;
}

article {
  margin-bottom: 4rem;
  border-bottom: 1px solid lightgray;
  padding-bottom: 2rem;
}

footer p {
  color: lightgray;
}

article p a {
  color: red;
  float: right;
  text-decoration: none;
  font-weight: bold;
}

time {
  font-size: 1.8rem;
  color: lightgray;
  font-weight: lighter;
}

h2 {
  font-weight: lighter;
  font-size: 1.3rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
